<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>704368977195-i6r468qipktrj8b60b9apodgvpma3pi5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.704368977195-i6r468qipktrj8b60b9apodgvpma3pi5</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>704368977195-7fupm6fl1evi6pu127rrrj03hept8kd9.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDDHQowQP5_Agx32fwXuCkVFamg0HbXna8</string>
	<key>GCM_SENDER_ID</key>
	<string>704368977195</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.LoginRegisterTemplate</string>
	<key>PROJECT_ID</key>
	<string>cgonline-90c07</string>
	<key>STORAGE_BUCKET</key>
	<string>cgonline-90c07.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:704368977195:ios:bc68e99d592159403ad16e</string>
</dict>
</plist>